{% extends "account-base.html" %}

{% block page-header %} Your Products {% endblock %}

{% block account-content %}
<h2>Your Supply's</h2>
<div class="lightbg">
  <table class="table table-hover" style="margin-bottom:0;">
    <thead>
    <tr>
      <th>Supply</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    {% for sub in user.subscription_set.all %}
      <tr>
        <td style="vertical-align:middle;">{{sub.supply.name}}</td>
        <td><a href="/shop" class="btn btn-inverse pull-right">Shop</a></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

<h2>Order History</h2>
<div class="lightbg">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Date</th>
        <th>Ship Again</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td>{{o.obj.product.name}}</td>
        <td>{{o.obj.date_placed}}</td>
        <td style="text-align:right;">
          {% if o.obj.product.active and o.can_order %}
          {% include "partial/shipit_button.html" with p=product type="tile" %}
          {% elif o.obj.product.active %}
          Supply expired. <a href="/?src=click">Shop Supply's</a>
          {% else %}
          {{o.s}}No longer available. <a href="{{o.shop_url}}">Shop Similar</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
