{% extends "account-base.html" %}

{% block page-header %} Your Products {% endblock %}

{% block account-content %}
<h3 class="account-header">Place an order</h3>
<div class="span8">
      <h1>Use a Supply</h1>
      {% for sub in user.subscription_set.all %}
          {% include "partial/supply_item.html" with s=sub.supply %}
      {% endfor %}
    </div>
<h3 class="account-header">Past orders</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Product</th>
        <th>Date</th>
        <th>Shipped</th>
    </tr>
    </thead>
    <tbody>
        {% for o in user.profile.get_orders %}
        <tr>
            <td>{{o.subscription.supply.name}}</td>
            <td>{{o.date_placed}}</td>

            <td>
                {% if o.date_shipped %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
