{% extends "account-base.html" %}

{% block account-content %}
<h3 class="account-header">Edit address</h3>
<div class="well">
    {% if saved %}
        <div class="alert alert-success">
        Address Saved.
        </div>
    {% endif %}
    <form action="/account/address/" method="post">
        <div>
            <label for="id_name">Full Name</label>
            <input id="id_name" type="text" placeholder="Full Name" name="name" value="{{name}}"/> 
        {{form}}
        <div>
        <button type="submit" class="btn btn-buy">Save</button>
        </div>
    </form>
</div>
{% endblock %}
