{% extends "content-page.html" %}

{% block content_styles %}
{% endblock %}

{% block content %}
<h2>Sweet! We're rushing to deliver your order</h2>
<div class="lightbg">
	{% if success %}
		<h4>
			We will email {{user.email}} when we ship your order of {{ product.name}}.
		</h4>
		<div>Thanks for using LifetimeSupply.com</div>
	{% else %}
		Something went wrong :(. Please try again or email support@lifetimesupply.com to place your order
	{% endif %}


	<div>
		<a href="/account/" class="btn btn-buy">Your account</a>
		<a href="/" class="btn">Home</a>
	</div>
</div>
{% endblock %}

