<link href="{{ STATIC_URL}}css/cart.css" rel="stylesheet">

<div id="add-card-modal" class="modal hide fade" tabindex="-1" data-width="400">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Add card</h3>
    </div>
    <div class="modal-body">
        <div id="add-card-error" class="alert warning hide">
          <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
          <strong>Error</strong> <span class="message"></span>
        </div>
         <form action="" method="POST" id="payment-form" class="payment-form">
             <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" autocomplete="off" class="card-number" {% if debug == True%} value="4242424242424242" {% endif %}/>
              </div>
              <div class="form-row clearfix">
                <span class="pull-left">
                    <label>Expiration (MM/YYYY)</label>
                    <input type="text" size="2" class="card-expiry-month" {% if debug == True %} value="08" {% endif %}/>
                    <span> / </span>
                    <input type="text" size="4" class="card-expiry-year" {% if debug == True %} value="2013" {% endif %}/>
                </span>
                <span class="pull-right">
                    <label>CVC</label>
                    <input type="text" size="4" autocomplete="off" class="card-cvc" {% if debug == True %} value="348" {% endif %}/>
                </span>
              </div>
              
        </form>
    </div>
    <div class="modal-footer">
    <button class="add-card-submit btn btn-buy" data-loading-text="Adding">Add Card</button>
    </div>
</div>

<script src="{{ STATIC_URL}}js/partial/add-card.js"></script>