<table class="table table-hover light">
    <thead>
    <tr>
        <th>Product</th>
        <th>Semester</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td><a href="/supply/{{item.product.url_slug}}">{{ item.product.name }}</a></td>
            <td>Spring 2013</td>
            <td>{{ item.total_price }}</td>
            <td>{% if remove %} <a href="/cart/remove?id={{item.object_id}}" type="button" class="btn btn-warning btn-remove pull-right" data-loading-text="Remove">Remove</a> {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

