<div class="how-step clearfix">
  <img src="{{STATIC_URL}}img/subscribe.svg"/>
  <div>
      <h4 class="title">Subscribe to a Supply</h4>
      <div class="description">
          Pick what you need and pay once for the semester
      </div>
  </div>
</div>

<!-- Button designed by Anna Weiss from The Noun Project -->
<div class="how-step clearfix">
  <img src="{{STATIC_URL}}img/order.svg"/>
  <div>
      <h4 class="title">Ship & Re-ship</h4>
      <div class="description">
          Request more at any time for no additional cost
      </div>
  </div>
</div>

<!-- Box designed by Jerome Tave from The Noun Project -->
<div class="how-step clearfix">
  <img src="{{STATIC_URL}}img/ship.svg"/>
  <div>
      <h4 class="title">Free Shipping</h4>
      <div class="description">
          We ship your products to your doorstep for free!
      </div>
  </div>
</div>