{% if user.subscription_set.all.count != 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Product</td>
            <td>Last order</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <!-- TODO: Think about optimizing. it is making more queries then necessary probably -->
            {% for s in user.subscription_set.all %}
            <tr>
                <td>{{ s.supply.name }}</td>
                <td>
                    {% with date=s.order_set.all.latest.date_placed %}
                        {% if date %}
                       {{date|timesince}} ago    
                        {% else %}
                            Make your first order!
                        {% endif %}
                    {% endwith %}

                </td>
                <td><button data-id="{{s.supply.id}}" data-name="{{s.product.name}}" type="button" class="btn btn-info btn-ship-it">{{ORDER_TEXT}}</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Make your first order!</div>
{% endif %}