<div class="product">
	<div class="basic">
	  <img class="feature" style="width:140px;height:105px;" src="{{p.img}}" />
	  <h3 class="title">{{p.name}}</h3>
	  <p>{{p.description}}</p>
	  <div class="buttons">
	    <a href="#" class="btn btn-inverse">Details <span class="caret"></span></a>
	  </div>
	</div>

	<div class="details">     
	  <h6>Description</h6>
	  <p>Colgate Cavity Protection helps strengthen teeth and leaves your mouth feeling fresh.</p>

	  <h6>Active Ingredients</h6>
	  <p>Sodium Monofluorophosphate (0.15% W/V Fluoride Ion)</p>

	  <h6>Inactive Ingredients</h6>
	  <p>Dicalcium Phosphate Dihydrate, Water, Glycerin, Sorbitol, Sodium Lauryl Sulfate, Cellulose Gum, Flavor, Tetrasodium Pyrophosphate, Sodium Saccharin</p>

	  <h6>Warnings</h6>
	  <p>As with all fluoride toothpastes, keep out of the reach of children under 6 years of age.  If you accidentally swallow more than used for brushing, seek professional assistance or contact a Poison Control Center immediately.</p>
	</div>
</div>