<div id="order-modal" class="modal hide fade" tabindex="-1" data-width="400">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Place order</h3>
    </div>
    <div class="modal-body">
        <p>Confirm shipment of <span id="order-item"></span> to:</p>
        <p>
            {{user.first_name}}
            <br>
            {% with address=user.address %}
                {{address.address_line1}}
                <br>
                {% if address.address_line2 %}
                    {{address.address_line2}}
                    <br>
                {% endif %}
                {{address.city}}, {{address.state_province}} 
            {% endwith %}
        </p>
    </div>
    <div class="modal-footer">
        <form id="order-form" class="pull-right" action="/account/order/" method="post">
            <input id="item-id" name="id" type="hidden" value=""/>
            <button type="submit" class="place-order btn btn-ship-it btn-warning">{{ORDER_TEXT}}</button>
        </form>

        <button class="pull-right" type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
</div>
