<div class="supply lightbg">

  <a href="/supply/{{s.url_slug}}">
    <img class="feature" style="height:195px; width:170px;" src="{{STATIC_URL}}{{s.photo}}" />
    <h3 class="title">{{s.name}}</h3>
  </a>
  <h3 class="price">${{s.price|floatformat:"0"}}<span>/semester</span></h3>
  <h6>Products</h6>
  <p>{{s.categories.all|join:", "}}</p>

  <h6>Sample Brands</h6>
  <p class="brands">{{s.brands_text}}
    <!-- 
    <img src="colgate.png" />
    <img src="crest.png" />
    <img src="listerine.png" />
    <img src="johnson.png" /> -->
  </p>
  <div class="buttons">
    <a class="btn btn-inverse" href="/supply/{{s.url_slug}}">Learn More</a>
    <a class="btn btn-warning" href="/cart/add?id={{s.id}}">Add to Cart</a>
  </div>
</div>