<div class="why-buy">
    <h4>Stay supplied</h4>
    <ul>
        <li>Students will never run out of the things they need</li>
        <li>Unlimited access to any product in a Supply</li>
    </ul>

    <h4>It’s convenient</h4>
    <ul>
        <li>No wasted time going to the store</li>
        <li>Easier to focus on studying hard and having fun</li>
    </ul>

    <h4>Great products</h4>
    <ul>
        <li>We offer a wide variety of top brands</li>
        <li>New products added to Supplies monthly</li>
    </ul>

</div>