{% extends "base.html" %}
{% load i18n %}

{% block content_styles %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span4 offset4">

      <h2>Please Sign In</h2>
      <div class="lightbg">
        <form method="post" action=".">
          {% csrf_token %}
          
          {{ form }}


          <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
          </label>

          
          <p><input type="submit" class="btn-login btn" value="{% trans 'Log in' %}" /></p>
          <input type="hidden" name="next" value="{{ next }}" />
          <div>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a></div>
          <!-- {% trans "Not a member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a><br /> -->
          <div class="">Make a purchase to register</div>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
