{% extends "content-page.html" %}
{% load i18n %}

{% block content_styles %}
<link href="{{ STATIC_URL}}css/registration.css" rel="stylesheet">
{% endblock %}


{% block content %}
<form method="post" action="." class="form-reg">
	<h2 class="form-reg-heading">Register</h2>
	{% csrf_token %}
  	{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            <div>{{ field.label|safe }}</div>
            {{ field }}
        </div>
    {% endfor %}
    <p>
  		<input class="btn btn-reg" type="submit" value="{% trans 'Submit' %}" />
  	</p>
</form>
{% endblock %}
