<div class="row">
    <div class="span12">
        <h1>Checkout</h1>
    </div>
    <div class="span8">
        <div class="lightbg">
            {% include 'partial/checkout-table.html' with remove='true'%}
           


            <!--  <div class="alert hide">
                <p class="cart-message">Is this purchase a gift?</p>
                <div class="btn-group" data-toggle="buttons-radio">
                  <a  type="button" href="/cart?gift=1" class="btn large {% if cart.is_gift %} active {% endif %}">Yes</a>
                  <a type="button" href="/cart?gift=0" class="btn large {% if not cart.is_gift %} active {% endif %}">No</a>
                </div>
                {% if cart.is_gift %}
                    <p>Note: We'll send you a certificate to present</p>
                {% endif %}
            </div> -->
        </div>
        <div>
            <a href="/buy-supply/" class="btn btn-buy">Continue shopping</a>
        </div>  
    </div>
    <div class="span4">
        <div class="lightbg">
            {% include 'partial/cart-total.html' %}
        </div>
        <div class="lightbg">
            <a id="for-student" href="/cart/confirm-checkout?student=1" class="btn-checkout btn-large btn btn-success has-tip" data-toggle="tooltip" data-placement="right" title="Use this is buying for someone else"> Buy for a student</a>
            <a href="/cart/confirm-checkout" class="btn-checkout btn-large btn btn-primary has-tip" data-toggle="tooltip" data-placement="right" title="Use this to buy for yourself"> Buy for myself</a>
            <p class="muted">Note: you will be not be charged, yet</p>
            <!-- {% if not user.is_authenticated %}
            <p class="cart-message"> You must log in to checkout: </p>
            <p> <a href="/login/?next=/cart/" class="btn btn-primary" type="button">Login</a> or <a href="/register/">register</a> </p>
            {% elif not user.profile.get_cards %}
            <p class="cart-message"> Add credit card to continue:</p>
            <p><button class="add-card btn btn-primary" type="button">Add card</button></p>
            {% else %}
            <form action="/cart/checkout/" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-checkout btn-large btn btn-primary"> Confirm Purchase </button>
                <select id="card-select" name="card_id">
                    {% with cards=user.profile.get_cards %}
                        {% for card in cards %}
                            <option value="{{card.id}}" {% if card.id == user.profile.prefered_card %}selected="selected"{% endif %}>{{card.card_type}} - {{card.last4}}</option>
                        {% endfor %}
                    {% endwith %}
                </select> 
                <p><a class="add-card" type="button">Add another card</a></p>
            </form>
            {% endif %} -->

            
        </div>
    </div>
</div>

<div class="row">
</div>

