{% extends 'content-page.html' %}

{% block content_styles %}
<link href="{{ STATIC_URL}}css/cart.css" rel="stylesheet">
{% endblock %}

{% block page-header %} 
Checkout
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
		{% if cart.total > 0 %}

		    {% include "cart-checkout.html" %}

		{% else %}

		    {% include "cart-empty.html" %}

		{% endif %}
	</div>
</div>
{% endblock %}

{% block content_scripts %}
	<script src="{{ STATIC_URL}}js/cart.js"></script>
{% endblock %}

{% block c_includes %}
	{% include "partial/add-card.html" %}    
{% endblock %}