{% extends 'base.html' %}

{% block content_styles %}
<link href="{{ STATIC_URL}}css/checkout-success.css" rel="stylesheet">
{% endblock %}

{% block page-header %} 
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Checkout successful</h1>
		</div>

		<div class="span12">
			<div class="lightbg">
				<h4> Your credit card was charged ${{total}}. We emailed {{email}} a reciept.</h4>

				{% if student == "0" %}
					<div>
						Go to your <a href="/account/"> account </a> to place your first order.
					</div>
				{% elif student == "1" %}
					<p>
						We emailed {{student_email}} a link to sign up. 
					</p>
				{% endif %}

				<p>
					Please <a href="/contact/">contact us</a> with any questions.
				</p> 
			</div>
		</div>

	</div>
</div>

{% endblock %}
