{% extends 'base.html' %}

{% block styles %}
<link href="{{ STATIC_URL}}css/cart.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Checkout</h1>
        </div>
        <div class="span12">
            <div class="lightbg">
                {% include 'partial/checkout-table.html' %}
                <!--  <div class="alert hide">
                    <p class="cart-message">Is this purchase a gift?</p>
                    <div class="btn-group" data-toggle="buttons-radio">
                      <a  type="button" href="/cart?gift=1" class="btn large {% if cart.is_gift %} active {% endif %}">Yes</a>
                      <a type="button" href="/cart?gift=0" class="btn large {% if not cart.is_gift %} active {% endif %}">No</a>
                    </div>
                    {% if cart.is_gift %}
                        <p>Note: We'll send you a certificate to present</p>
                    {% endif %}
                </div> -->
            </div>
        </div>
        <div class="span8">
            <div class="lightbg">
                {% if error %}
                    <div class="alert alert-error">
                      {{error|safe}}
                    </div>
                {% endif %}

                <form action="/cart/confirm-checkout/" method="post" class="clearfix">
                    {% csrf_token %}
                    <input type="hidden" name="student" value="{{student}}"/>
                    <div style="margin-bottom:10px;">
                        {% if student %}
                            <h4 style="margin:0px">You are buy this for a student</h4>
                            <a href="/cart/confirm-checkout?">Change to buying this for yourself</a>
                        {%  else %}
                            <h4 style="margin:0px">You are buy this for yourself</h4>
                            <a href="/cart/confirm-checkout?student=1">Change to buying this for a student</a>
                        {% endif %}
                    </div>
                    <div>
                        <label for="name">Your Name</label>
                        <input type="text" name="name" placeholder="Name" value="{{name}}" />
                    </div>
                    <div>
                        <label for="email">Your email</label>
                        <input type="text" name="lts-email" placeholder="Email" value="{{email}}"/>
                    </div>
                    
                    {% if student %}
                        <div>
                            <label for="email">Student's email address</label>
                            <input type="text" name="student_email" placeholder="Student's email address" value="{{student_email}}"/>
                            <span class="muted">We will email the student a link to claim this purchase</span>
                        </div>
                    {% else %}
                        <div>
                            <label for="password">Create a Password</label>
                            <input type="password" name="password" value="{{password}}" placeholder="Password" />
                        </div>
                    {% endif %}

                    <div style="margin-top:5px;">
                        {% if customer %}
                            <input id="customer-id" type="hidden"  name="customer_id" value="{{customer.id}}" />
                            <div class="alert"
                                <p>Last 4 Digits: {{customer.active_card.last4}}</p>
                                <p>Card type: {{customer.active_card.type}}</p>
                            </div>
                        {% else %}
                            <input id="stripe-token" type="hidden"  name="token"/>
                            <a class="btn btn-primary add-card" type="button">Add Credit Card</a>
                        {% endif %}
                    </div>
                    
                    <div style="margin-top:15px;">
                        <label for="tos">I have read and agree to the <a href='/terms/'>Terms of Use</a> <input id="id_tos" type="checkbox" name="tos" {% if tos %}checked {% endif %}/> </label>
                    </div>
                    
                    <div class="pull-right">
                        <input value="Checkout" class="btn btn-success pull-right" type="submit"/>
                        <div></div>
                        <p class="muted pull-right">Note: your credit card will be charged</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="span4">
            <div class="lightbg">
                <div id="cart-total-container">
                    <p>Total</p>
                    <p>$<span id="total">{{cart.total}}</span></p>
                </div>
                
                <!-- {% if not user.is_authenticated %}
                <p class="cart-message"> You must log in to checkout: </p>
                <p> <a href="/login/?next=/cart/" class="btn btn-primary" type="button">Login</a> or <a href="/register/">register</a> </p>
                {% elif not user.profile.get_cards %}
                <p class="cart-message"> Add credit card to continue:</p>
                <p><button class="add-card btn btn-primary" type="button">Add card</button></p>
                {% else %}
                <form action="/cart/checkout/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-checkout btn-large btn btn-primary"> Confirm Purchase </button>
                    <select id="card-select" name="card_id">
                        {% with cards=user.profile.get_cards %}
                            {% for card in cards %}
                                <option value="{{card.id}}" {% if card.id == user.profile.prefered_card %}selected="selected"{% endif %}>{{card.card_type}} - {{card.last4}}</option>
                            {% endfor %}
                        {% endwith %}
                    </select> 
                    <p><a class="add-card" type="button">Add another card</a></p>
                </form>
                {% endif %} -->

                
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block c_includes %}
    {% include "partial/add-card.html" %}    
{% endblock %}