.cart-message{
	font-size: 2em;
	padding-bottom: 10px;
}

.btn-checkout{
	margin: 15px 0;
}

.checkout-body{
	/*background-color: #fff;*/
	padding: 10px 5px 20px 5px;
}

#cart-total-container{
	font-size: 1.5em;
	font-weight: bold;
}

#add-card-modal{
	padding:5px;
}

.payment-form{
	
}

.card-number{
	width:184px;
}

.card-expiry-month{
	width: 40px;
}

.card-expiry-year{
	width: 56px;
}

.card-cvc{
	width: 56px;
}