html {
    /*background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/navy_blue.png) fixed;*/
    background-color: #444;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  background-color: transparent;
  margin-top: 83px;
}
input, button, select, textarea {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  color: rgb(173, 177, 180);
  text-shadow: 0px 0px 5px #222;
}
h2 {
  color: rgb(173, 177, 180);
  text-shadow: 0px 0px 4px #222;
}
h3 {
  color: rgb(173, 177, 180);
  text-shadow: 0px 0px 3px #222;
}
h6 {
  text-transform: uppercase;
}
form {
  margin-bottom: 0;
}
.btn {
  border-radius:2px;
}

a {
  color: #546d81;
}
a:hover {
  color: #3f5261;
}

.lightbg {
  box-shadow: 0 0 5px #EEE;
e  background-image: url(http://subtlepatterns.com/patterns/fabric_plaid.png);
  background-color: #ddd;
  margin: 14px 0;
  padding: 10px;
}

.btn img {
  height: 20px;
  margin-top: -4px;
}
.btn.btn-large img {
  height: 24px;
  margin: -6px 0 -3px;
}

.darkbg {
  background-image: url(/static/img/darklinen.png);
  background-color: #444;
  box-shadow: 0 0 5px #222;
  color: #CCC;
  margin: 14px 0;
  padding: 10px;
}
.darkbg h6 {
  margin: 2px 0 1px;
}

.darkbg a, #footer a {
  color: #6d8da5;
}
.darkbg a:hover, #footer a:hover {
  color: #546d81;
}

#footer {
  margin: 20px 0 18px;
}

.darkbg ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom:5px;
}

/*
Supply item styles
*/
.supply {
  padding: 0 0 0 180px;
  height:195px;
  position: relative;
}

.supply .feature {
  position: absolute;
  top: 0;
  left: 0;
}

.supply .title {
  font-weight: 200;
  padding-top: 3px;
  color: #444;
  text-shadow: none;
  margin: 0;
}

.supply .price {
  position: absolute;
  color: #444;
  text-shadow: none;
  margin:0;
  right: 10px;
  top: 3px;
}
.supply .price span {
  font-size: 11.9px;
}

.supply h6 {
  margin: 5px 0 0;
}

.supply .buttons {
  position: absolute;
  bottom:10px;
  right:10px;
}

.product {
  margin-top: 4px;
  padding-top: 155px;
  position: relative;
}
.product .image {
  position: absolute;
  top:0;
  left:0;
  background-size: auto 130px; 
  background-repeat: no-repeat;
  background-position: center;
  width:220px;
  height:130px;
  background-color: #fff;
  padding: 10px 0px;
}

.product h5 {
  font-weight: bold; 
  margin: 0px;
}

.product .buttons {
  text-align: right;
  margin-top: 5px;
}


/*shipit form*/
#order-form{
  margin: 0px 5px;
}