#logo-home{
	max-width: 511px;
	margin: 20px auto;
	padding: 10px;
	width: 80%;
}

#subtitle-container{
	background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png);
	padding: 13px;
	text-align: center;
	border-radius: 6px;
}


#marketing{
	height:200px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Verdana', sans-serif;
	margin-top: 20px;
	margin-bottom: 40px;
}

.carousel-inner .item{
	height: 160px;
	padding: 20px 70px;
	border-radius: 4px;
}

.item:nth-child(1){
	background-color:#546D81;
}
.item:nth-child(2){
	background-color:#67A6A6;
}
.item:nth-child(3){
	background-color:#fbb450;
}
.item:nth-child(4){
	background-color:#BD362F;
}


#marketing p{
	font-size: 5em;
	color: #F7FCF5;
	text-shadow: 1px 1px 1px #444, 2px 2px 5px #666;
}

.products-header{
}

.product_count_container{
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 8px;
	padding: 3px 0px;
	text-indent: 5px;
	margin-top: 25px;
}

@media (max-width: 979px) {
  #marketing{
    height: 250px;
  }
  
  .carousel-inner .item {
    height: 240px;
  }

  #logo-home{
  	max-width: 511px;
	margin: 10px auto;
	width: 100%;
  }
}

.thumbnails{
	overflow: hidden
}

.thumbnails > li{
	background: #fff;
	box-shadow: inset 0 1px 1px rgba(49, 77, 94, 0.06),0 1px 0 rgba(255, 255, 255, 0.33);
	padding-top:6px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
	/*height: 410px*/
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.caption{
	margin: 10px;
}

.caption .description{
	margin: 10px 5px;
}

.thumbnail-containter .image-contianer{
	height: 190px;
	margin: 10px;
}



.thumbnail-containter h3{
	line-height: 22px;
	margin: 20px 0 5px; 	
	text-indent: 4px;
	color:#444;
	font-size: 1.8em;
}

.caption .price{
	font-size: 1.4em;
	font-weight: bold;
	padding: 7px 5px;
	margin: 1px 0;
}

.caption a:hover, .caption a:hover h3 {
	color: #BD362F;
}

.product-container{
	/*background-color: #fff;*/
}

.product{
	margin:2px;
}

.home-message{
	font-size: 2em;
	padding: 5px!important;
}