.how {

}

.how img {
  display:block;
  margin: 0 auto 10px;
  fill: red;
}

.how .title {
  font-weight:200;
  margin:0 0 5px;
  text-align:center;
  text-shadow: none;
}

.how .description {
  margin-bottom:10px;
}