.supply {
  margin: 1em 0;
  padding-left: 180px;
  height:195px;
  position: relative;
  box-shadow: 0 0 5px #EEE;
  background-image: url(http://subtlepatterns.com/patterns/fabric_plaid.png);
}

.supply .feature {
  position: absolute;
  top: 0;
  left: 0;
}

.supply .title {
  font-weight: 200;
  padding-top: 3px;
  color: #444;
  text-shadow: none;
  margin: 0;
}

.supply .price {
  position: absolute;
  color: #444;
  text-shadow: none;
  margin:0;
  right: 10px;
  top: 3px;
}
.supply .price span {
  font-size: 11.9px;
}

.supply h6 {
  margin: 5px 0 0;
}

.supply .buttons {
  position: absolute;
  bottom:10px;
  right:10px;
}

.how {
  margin: 1em 0;
  background-image: url(/static/img/darklinen.png);
  box-shadow: 0 0 5px #222;
  padding: 10px 20px;
  color: #CCC;
}

.how img {
  display:block;
  margin: 0 auto 10px;
  fill: red;
}

.how .title {
  font-weight:200;
  margin:0 0 5px;
  text-align:center;
  text-shadow: none;
}

.how .description {
  margin-bottom:10px;
}