.how-step{
	padding: 3px;
}

.how-step>div{
	margin: 10px 0px 10px 10px;
}


.how-step>img{
	width: 70px;
	margin: 10px;
	float:left;
}

.how-step:nth-child(1)>img{
	margin-top: 12px;
}

.how-step:nth-child(2)>img{
	margin-top: 6px;
	/*float:right;*/
}

.how-step:nth-child(3)>img{
	margin-top: 10px;
}

.how-step .title{
	margin: 0px 0px 5px 0px;
}

.how-step .description{
}

.how-step:nth-child(odd){
}

.why-buy h4 {
	margin: 6px 0 4px;
}
.why-buy ul li {
	margin-left: 25px;
	list-style-type: circle;
}
.why-buy ul {
	margin-bottom:10px;
}

/*.how-step:nth-child(odd)>img{
	float:left;
}

.how-step:nth-child(odd)>span{
	float:left;
}

.how-step:nth-child(even){
	text-align: left;
}

.how-step:nth-child(even)>img{
	float:left;
}

.how-step:nth-child(even)>span{
	float:left;
}*/