html, body{
/*    background-image: url(http://subtlepatterns.com/patterns/fabric_plaid.png);
        background-color: #ddd;*/
}

.big-title{
    font-size: 64px;
    line-height: normal;
    text-align: center;
    /*margin-top: -50px;*/
}


