html, body{
/*	  background-image: url(http://subtlepatterns.com/patterns/fabric_plaid.png);
  		background-color: #ddd;*/
}

.big-title{
	font-size: 64px;
	line-height: normal;
	text-align: center;
}


.how-step{
	padding: 15px;
}

.how-step>span{
	margin: 0px 5px;
	width: 190px;
}


.how-step>img{
	width: 70px;
	margin-top: 10px;
}

.how-step .title{
	font-size: 25px;
	margin: 0px 0px 5px 0px;
	line-height: 25px;
}

.how-step .description{
	font-size: 18px;
}

.how-step:nth-child(odd){

}

.how-step:nth-child(odd)>img{
	float:left;
}

.how-step:nth-child(odd)>span{
	float:left;
}

.how-step:nth-child(even){
	text-align: left;
}

.how-step:nth-child(even)>img{
	float:left;
}

.how-step:nth-child(even)>span{
	float:left;
}