html, body{
/*    background-image: url(http://subtlepatterns.com/patterns/fabric_plaid.png);
        background-color: #ddd;*/
}

.big-title{
    font-size: 64px;
    line-height: normal;
    text-align: center;
    margin-top: -50px;
}

.why-buy{

}

.why-buy h4{
    font-size: 25px;
    line-height: 25px;
    margin: 15px 0px 5px 0px;
}

.why-buy h4:nth-child(1){
    margin-top: 10px;
}

.why-buy li{
    font-size: 20px;
    line-height: normal;
}
