{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="span12">
			<h2>About</h2>
			<div class="lightbg">

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">Mission</strong><br />
Lifetime Supply strives to be the next generation of campus convenience stores.  Why walk to the store when pressing one button will have your essentials delivered to your doorstep?
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">Founders</strong><br />
Lifetime Supply was founded by two students at MIT who couldn't find time to get to the store.  For their next project, they're building robots that automatically do their laundry.
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">Get In Touch</strong><br />
Phone - (724) 254-7759<br />
Email - contact@lifetimesupply.com
</p>

			</div>
		</div>
	</div>
</div>
{% endblock %}