{% extends "account-base.html" %}

{% block account-content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Product</th>
    </tr>
    </thead>
    <tbody>
        {% for s in subscriptions %}
        <tr>
            <td>Lifetime Supply of {{ s.product.name }}</td>
            <td><button data-id="{{s.product.id}}" data-name="{{s.product.name}}" type="button" class="btn btn-info btn-order">{{ORDER_TEXT}}</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
