{% extends "account-base.html" %}

{% block page-header %} Your Products {% endblock %}

{% block account-content %}
<h3 class="account-header">Make an order</h3>
{% include "partial/order_table.html" %}
<h3 class="account-header">Past orders</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Product</th>
        <th>Date</th>
        <th>Shipped</th>
    </tr>
    </thead>
    <tbody>
        {% for o in user.profile.get_orders %}
        <tr>
            <td>{{o.subscription.product.name}}</td>
            <td>{{o.date_placed}}</td>
            <td>{{o.shipped|yesno:"Yes,No,Error"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
