<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link id="page_favicon" href="{{STATIC_URL}}favicon2.ico" rel="icon" type="image/x-icon" />

	<!-- Le styles -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

	<link href="{{ STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL}}css/bootstrap-modal.css" rel="stylesheet">
	<link href="{{ STATIC_URL}}css/general.css" rel="stylesheet">
	<link href="{{ STATIC_URL}}css/header.css" rel="stylesheet">

	<!-- 	<link href="{{ STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet"> -->
	<!-- 	<link href="{{ STATIC_URL}}css/base.css" rel="stylesheet"> -->
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css"> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville|Donegal+One' rel='stylesheet' type='text/css'> -->
	
	{% block styles %}
	{% endblock  %}


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="{{ STATIC_URL}}ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL}}ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL}}ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL}}ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL}}ico/apple-touch-icon-57-precomposed.png">
	
  </head>

  <body>
		{% include "partial/navbar.html" %}
		<!-- <div class="top-bar"></div> -->
  		<!-- <div id="page-container" class="container"> -->
		{%block body %}

		{% endblock %}
	
	<div id="footer-container" class="container">
		{% include "partial/footer.html" %}
	</div>

  	<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37042669-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>	

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ STATIC_URL}}js/bootstrap-transition.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-alert.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-modal.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-modalmanager.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-dropdown.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-scrollspy.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-tab.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-tooltip.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-popover.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-button.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-collapse.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-carousel.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-typeahead.js"></script>
	<script src="{{ STATIC_URL}}js/bootstrap-affix.js"></script>

 	<!-- <script src="https://raw.github.com/davatron5000/FitText.js/master/jquery.fittext.js"></script> -->

	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

	<script type="text/javascript">
	    // this identifies your website in the createToken call below
	    {% if debug  == True %}
	    	Stripe.setPublishableKey('pk_test_K9TEaiWEhLWxOhkmsRC1WgCD');
	    {% else %}
	    	Stripe.setPublishableKey('pk_live_mnjoApYz5X91FsZcdyBzjSiw');
	    {% endif %}
	</script>
	{%block scripts %}{% endblock %}
  	{%block c_includes %}{% endblock %}

  </body>
</html>