<div class="row">
    <div class="span12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price (billed yearly)</th>
            </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.total_price }}</td>
                    <td><button href="/cart/remove?id={{item.object_id}}" type="button" class="btn btn-warning btn-remove" data-loading-text="Remove">Remove</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="alert">
            <p class="cart-message">Is this purchase a gift?</p>
            <div class="btn-group" data-toggle="buttons-radio">
              <a  type="button" href="/cart?gift=1" class="btn large {% if cart.is_gift %} active {% endif %}">Yes</a>
              <a type="button" href="/cart?gift=0" class="btn large {% if not cart.is_gift %} active {% endif %}">No</a>
            </div>
            {% if cart.is_gift %}
                <p>Note: We'll send you a certificate to present</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div id="cart-total-container" class="span2 well">
        <p>Total</p>
        <p>$<span id="total">{{cart.total}}</span>/year</p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="checkout-body">
            {% if not user.is_authenticated %}
            <p class="cart-message"> You must log in to checkout: </p>
            <p> <a href="/login/?next=/cart/" class="btn btn-primary" type="button">Login</a> or <a href="/register/">register</a> </p>
            {% elif not user.profile.get_cards %}
            <p class="cart-message"> Add credit card to continue:</p>
            <p><button class="add-card btn btn-primary" type="button">Add card</button></p>
            {% else %}
            <form action="/cart/checkout/" method="post">
                {% csrf_token %}

                <select id="card-select" name="card_id">
                    {% with cards=user.profile.get_cards %}
                        {% for card in cards %}
                            <option value="{{card.id}}" {% if card.id == user.profile.prefered_card %}selected="selected"{% endif %}>{{card.card_type}} - {{card.last4}}</option>
                        {% endfor %}
                    {% endwith %}
                </select>  or <a class="add-card" type="button">Add another card</a>
                <div>
                    <button type="submit" class="btn-checkout btn-large btn-buy btn btn-primary"> Checkout </button>
                    <span class="muted">note: we'll ask for shipping info when you place your first order</span>
                </div>
            </form>

            {% endif %}
        </div>
    </div>
</div>