{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container">
  
  <div class="row">
    <div class="span12">
      <h1 style="text-align:center">Register to claim your Supply!</h1>
    </div>
    

    <div class="span4">

        <form action="/gift/" method="post" class="lightbg clearfix">
        {% if form.errors %}
            <div class="alert alert-error">
              {{form.errors}}
            </div>
        {% endif %}
          {% csrf_token %}
          <input type="hidden" name="code" value={{gift.code}} />
          <div>
            {{form.name.label_tag}}
            {{form.name}}
          </div>

          <div>
            {{form.email.label_tag}}
            <input id="id_email" type="text" name="email" placeholder="Your email" value="{{gift.to_email}}" />
          </div>

          <div>
            {{form.password.label_tag}}
            {{form.password}}
          </div>

          <div>
            {{form.tos}}
            <label for="id_tos">Signing up signifies that you’ve read and agree to our <a href='/terms/'>Terms of Use</a> and <a href='/privacy/'>Privacy Policy</a>.</label>
          </div>

           <div class="pull-right">
              <input value="Claim & Register" class="btn btn-success pull-right" type="submit"/>
          </div>    
    </form>
  </div>
  <div class="span8">
      <!-- {% if gift.message %}
        <div class="offset2 span4">
          {{gift.message}}
        </div>
      {% endif %} -->
      {% for supply in gift.supplies.all %}
        {% include "partial/supply_item.html" with s=supply %}
      {% endfor %}
  </div>
</div>
{% endblock %}

{%block scripts %}
{% endblock %}

{% block c_includes %}
{% endblock %}