{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Frequently Asked Questions</h2>
			<div class="lightbg">
<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How does this work?</strong><br />
Our goal is to make sure students never run out of things they need. To that end, we sell “Supplies”, which are a curated lists of products that focus around a theme. Supplies are awesome because students can order any product in their Supplies anytime they need it.
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How much can I order?</strong><br />
Our customers should never run out of the things they need. We invite you to use a Supply as much as possible. There's nothing wrong with sharing a little, but we will warn you if we think your behavior is out of the ordinary. Ultimately, we reserve the right to cancel any account, but we do not expect things to come to that. 
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How does Lifetime Supply select their products?</strong><br />
We aim to provide the best possible products in every Supply. Products within a Supply will cater to various needs. We aim to keep our product offering fresh, so we will cycle new products in and out monthly. If you want to something in a Supply that we don't currently offer, let us know! 
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How is a semester defined?</strong><br />
We follow the same schedule as the school the student attends. Any order placed before the end of the semester will be fulfilled.
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">Can I start a Supply after the semester has started?</strong><br />
Yes! You can begin a Supply at anytime.
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How do I make sure to get my money’s worth?</strong><br />
Lifetime Supply sells peace of mind. Any product in your Supplies is just few clicks away. If you ever feel you aren’t getting enough value out of our service, please let us know.  
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How many days after ordering can I expect an item to arrive?</strong><br />
All of our products are shipped out of Cambridge, Massachusetts, usually within one day. Packages will arrive 1-3 days after they’ve left our warehouse.
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How do I cancel my account?</strong><br />
During our limited availability, we ask that you email us directly to cancel your account at contact@lifetimesupply.com
</p>

<p style="margin-bottom:15px;"><strong style="font-size:17.5px;">How can I contact Lifetime Supply?</strong><br />
Phone - (724) 254-7759<br />
Email - contact@lifetimesupply.com
</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}