{% extends "base.html" %}

{% block styles %}
<link href="{{ STATIC_URL}}css/home.css" rel="stylesheet">
<link href="{{ STATIC_URL}}css/how.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <!-- <div  class="alert alert-info span12">Wahoo</div> -->

    <div class="span4">
        <h2>How it Works</h2>
        <div class="lightbg">
          {% include 'partial/how_it_works.html' %}
        </div>
    </div>

    <div class="span8">
      <h1>Buy a Supply</h1>
      {% for supply in supplys %}
          {% include "partial/supply_item.html" with s=supply %}
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}

{%block scripts %}
    <script src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}

{% block c_includes %}
p{% endblock %}