{% extends "content-page.html" %}

{% block content %}
	<h1>How it works</h1>
	<div class="span4">
		<div class="darkbg">
          {% include 'partial/how_it_works.html' %}
        </div>
	</div>

	<div class="span7">
		<div class="lightbg">
			<h4 class="">
				<p>Never worry about running out of the things you use every day.</p>
			</h4>
			<h4 class="unbold">
				<p>We currently only offer a focused selection of products, but we plan to expand this shortly. Let us know what you want to see <a href="/contact/">here</a>!</p> 
			</h4>
		</div>
	</div>


	

{% endblock %}