{% extends "content-page.html" %}
{% block page-header %} 
How it works
{% endblock %}
{% block content %}
	<h2 class="large">LifetimeSupply.com sells unlimited, on demand access to products you use on a daily basis.</h2> 
	<h3 class="unbold">
	Never worry about running out of the things you use every day.
	</h3>

	<blockquote>
	<ol>
		<li>Subscribe to a product</li>
		<li>Click "Ship it" to get more</li>
		<li>Recieve more by mail</li>
	</ol>
	</blockquote>

	<h4 class="unbold">
		A subscription to LifetimeSupply.com is an original and thoughtful gift. When you checkout, specify if your purchase will be a gift and we'll give you a certificate to present to your friend.
	</h4>

	<h4 class="unbold">
		We currently only offer a focused selection of products, but we plan to expand this shortly. Let us know what you want to see <a href="/contact/">here</a>! 
	</h4>
{% endblock %}