{% extends "content-page.html" %}
{% block page-header %} 
How it works
{% endblock %}
{% block content %}
<p>
	<h2>
		LifetimeSupply.com only sells products in lifetime supply quanties. 
		<h3>
		When you use the site you never have to worry about buying things again. Using the site is as simple as
	</h3>
	</h2>
	
	<blockquote>
		<ol>
			<li>Buying a subscription to a product</li>
			<li>Clicking one button -- whenever you need more of that product</li>
			<li>Recieving our speedy delivery of that product</li>
		</ol>
	</blockquote>

</p>



<h4>
	A subscription to LifetimeSupply.com is an original and thoughtful gift. When you checkout, specify if your purchase will be a gift and we'll give you a certificate to present to your friend.
</h4>

<h4>
	We currently only offer a focused selection of product, but we plan to expand this shortly. Let us know what you want to see!
</h4>
{% endblock %}