{% extends "base.html" %}

{% block styles %}
  <link type="text/css" href="{{STATIC_URL}}css/pikachoose/base.css" rel="stylesheet" />
{% endblock %}>


{% block page-header %} 
{{product.name}}{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/pikachoose/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/pikachoose/jquery.pikachoose.js"></script>
    <script language="javascript">
      $(document).ready(function (){
          $("#prod-img-slider").PikaChoose({
            autoPlay:false,
            showTooltips:false,
            showCaption:false,
            animationSpeed:0
          });
        });
    </script>
{% endblock %}

{% load ship_tags %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="span9">
    	<h1>{{product.name}}</h1>
	    <div class="lightbg">
      	<div class="prod-detail" style="margin-bottom:10px;">
          <ul id="prod-img-slider" class="jcarousel-skin-pika">
            {% for i in product.productimage_set.all %}
              <li><img src="{{i.image}}"/></li>
            {% endfor %}
          </ul>
      	</div> 
        {% if request.user|can_ship:product %}
      	<p class="muted" style="font-size:17.5px;line-height:44px;">
      		$0 &minus; Free Shipping {% include "partial/shipit_button.html" with p=product type="detail" %}
      	</p>
        {% endif %}
      	{{product.description|linebreaks}}
      </div>
      
      {% if not request.user|can_ship:product %}
      <div>
        <h1>Buy a Supply with this product</h1>
        {% for supply in product.get_supplies %}
            {% include "partial/supply_item.html" with s=supply %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="span3">
    	<h3>Similar Products</h3>
  		{% include "partial/cat_products.html" with products=similar shop=0 %}
    </div>
  </div>
</div>
{% endblock %}