{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block page-header %} 
{{product.name}}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(".product .btn").click(function(e){
  e.preventDefault();
  $(this).toggleClass("disabled").closest(".product").toggleClass("full", 200);
})
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span3">
      <h3>Filters</h3>
      <div class="darkbg">
        <h6>Supply's</h6>
        {% for s in supplys %}
          <div><a href="?supply={{s.url_slug}}">{{s.name}}</a></div>
        {% endfor %}

        <h6>Categories</h6>
        {% for c in categories %}
          <div> <a href="?cat={{c.url_slug}}">{{c.name}}</a> ({{c.product_set.count}})</div>
        {% endfor %}
      </div>
    </div>

    <div class="span9">
      {% for c in categories %}
      <h2>{{c.name}}</h2>

      <div class="row">
        {% for p in c.product_set.all %}
        <div class="span3 product">

          <div class="lightbg" style="padding:0;margin-top:4px;">
            <a href="/product/{{p.id}}">
              <img src="http://placehold.it/220x150" />
              <h5 style="font-weight:bold; padding:5px 10px 0px; margin:0px;">Colgate Cavity Protection</h5>
            </a>
            <div style="padding:0px 10px 10px;" >
              <div class="muted">$0 &mdash; Free Shipping</div>
                <div style="text-align:right">
                  <a href="#" class="btn btn-warning">Ship It!</a>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
      {% endfor %}
    </div>

</div>
{% endblock %}