{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block page-header %} 
{{product.name}}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(".product .btn").click(function(e){
  e.preventDefault();
  $(this).toggleClass("disabled").closest(".product").toggleClass("full", 200);
})
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span3">
      <h3>Filters</h3>
      <div class="darkbg">
        <h6>Supply's</h6>
        {% for s in supplys %}
          <div><a href="?supply={{s.url_slug}}">{{s.name}}</a></div>
        {% endfor %}

        <h6>Categories</h6>
        {% for c in categories %}
          <div> <a href="?cat={{c.url_slug}}">{{c.name}}</a> ({{c.product_set.count}})</div>
        {% endfor %}
      </div>
    </div>

    <div class="span9">
      {% for c in categories %}
      
      <h2>{{c.name}}</h2>
      {% include "partial/cat_products.html" with products=c.product_set.all shop=1 %}
      
      {% endfor %}
    </div>

</div>
{% endblock %}