{% extends "base.html" %}

{% block styles %}
<link href="{{ STATIC_URL}}css/supply_page.css" rel="stylesheet">
{% endblock %}

{% block page-header %} 
{{product.name}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>{{supply.name}} Supply</h1>
      <div class="prod-detail">
        <img src="{{STATIC_URL}}{{supply.photo}}" />

        {{supply.description|safe|linebreaks}}
        <a href="/cart/add?id={{supply.id}}" class="btn btn-large btn-warning" style="position:absolute;bottom:15px;right:15px;">Add to Cart</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span9">

    {% for cat in supply.categories.all %}
    	<h2>Current {{cat.name}} Products</h2>
      {% include "partial/cat_products.html" with products=cat.product_set.all shop=False %}
    {% endfor %}

    </div>
    <div class="span3">
      <h3>What are these?</h3>
      <div class="how">
        <p>Whenever you run out of a product in your supply, you can replace it with any other product we currently have available.</p>
        <p>These products may change throughout the course of the year, but we try and keep the staples available.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}