{% extends "base.html" %}

{% block styles %} 
<style>
li {
list-style: none;
}

ol {
	margin: 0px;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Terms of Use</h1>
        </div>
        <div class="span12">
            <div class="lightbg">
	<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Welcome
to the website of Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
We are an online subscription service, providing our members with
convenient, on-demand access to products they love. </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">These
Terms of Use (“Terms”) govern utilization of this website and are
made and entered into as of each date that you utilize this website.
You must read these Terms before and as condition precedents to
utilizing this website. If you do not agree with any aspect of these
Terms, you are prohibited from utilizing this website. Utilization of
this website by you indicates your manifestation of assent to the
totality of these Terms. Please read these Terms carefully and keep a
copy of them for your reference.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">In
consideration of the covenants, representations and warranties set
forth herein and other good and valuable consideration, the receipt
and sufficiency of which is hereby acknowledged, User and Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
agree as follows:</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">These
Terms of Use provide that all disputes between you and Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR
RIGHT TO GO TO COURT to assert or defend your rights under this
contract (except for matters that may be taken to small claims
court). Your rights will be determined by a NEUTRAL ARBITRATOR and
NOT a judge or jury and your claims cannot be brought as a class
action. Please review the Arbitration Agreement below for the details
regarding your agreement to arbitrate any disputes with Lifetime
Supply.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">By
signing up for a Subscription (as defined below), you represent,
acknowledge and agree that you are at least 18 years of age.</FONT></FONT></P>
<OL>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>CHANGES
	TO TERMS; PERSONAL INFORMATION/PRIVACY </U></FONT></FONT>
	</h4>
</OL>
<OL>
	<OL>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Changes
		to this Website</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may add to, change or remove any part of this website, including,
without limitation, any Content (as defined below) therein, at any
time without prior notice to you.</FONT></FONT></P>
<OL>
	<OL START=2>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Personal
		Information/Privacy</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Customers
agree to provide accurate, current, and complete information as
required for the purchase of the Products and Supplies (both as
defined herein). Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
reserves the right to block further sales to Customers who provide
false, inaccurate or incomplete data. Customer acknowledges that
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
uses a third party payment processing service to processing orders
and bill fees to your credit card. Lifetime Supply’s Privacy
Policy, located at the URL:
http://www.lifetimesupply.com/privacy-policy (the “Privacy
Policy”), explains how Customers’ personally identifiable
information is collected, used and disclosed. You hereby agree that
we may use your personal information in accordance with the terms of
the Privacy Policy.</FONT></FONT></P>
<OL START=2>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>PASSWORDS;
	USE OF SITE</U></FONT></FONT></h4>
</OL>
<OL>
	<OL START=3>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Passwords</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">You
may utilize the functionality on this website that allows you to log
in to this Site by using your log in credentials for an existing
account on various third party websites, which may change from time
to time, including, without limitation, Twitter, Facebook and
LinkedIn (“Third Party Site Log-in Credentials”) and, if
applicable, configure your privacy settings in your third party
website account to permit your activities on this Site to be shared
with your contacts in your third party Site account (as further
detailed in our Privacy Policy)
http://www.lifetimesupply.com/privacy-policy. Notwithstanding the
foregoing, you agree that your use of any third party website through
which you log in to this Site using your Third Party Site Log-in
Credentials is governed by the terms and conditions of such third
party website’s terms of use and privacy policy, including, without
limitation, such third party website’s password and account
security policies and user-generated content posting and acceptable
use policies.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">You
are responsible for maintaining the confidentiality of your
passwords, and you are responsible for all activities that occur
using your passwords. You agree not to share your passwords, let
anyone else access your passwords or do anything else that might
jeopardize the security of your passwords. You agree to notify
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
if there is any unauthorized use of your password on this Site or if
you know of any other breach of security in relation to this Site. </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">BY
SHARING THE LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
SERVICE PASSWORD, THE ACCOUNT OWNER AGREES TO BE RESPONSIBLE FOR
ASSURING THAT HOUSEHOLD MEMBERS COMPLY WITH THE TERMS OF USE AND SUCH
ACCOUNT OWNER SHALL BE RESPONSIBLE FOR THE ACTIONS OF THE HOUSEHOLD
MEMBERS.</FONT></FONT></P>
<OL>
	<OL START=4>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>USE
		OF SITE; PROHIBITIONS</U></FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Subject
to your compliance with these Terms, Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
hereby grants you a limited, personal, revocable, non-transferable,
non-sublicensable, and non-exclusive license to access this website
and use the content, information, text, images, graphics, interfaces,
audio and video clips and any other materials displayed on this
website (collectively, the “Content”), solely for your personal,
non-commercial use. You may not copy, modify, reproduce, publicly
display or perform, distribute, or otherwise use the Content except
as expressly set forth in these Terms. You may not remove any
copyright or other proprietary notices from any Content. If you
breach any term of these Terms, your authorization to use this
website and Content automatically terminates without notice to you.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">You
hereby represent and warrant that you will not, and will not induce
any third party to: (a) attempt to disable or circumvent any security
mechanisms used by this website or Content or otherwise attempt to
gain unauthorized access to any portion of this website or Content or
any other systems or networks connected to this website, or to any
server of Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
or its third party service providers, by hacking, password “mining”,
or any other illegal means; (b) use any “deep-link”,
“page-scrape”, “robot”, “spider”, or other automatic
device, program, algorithm or methodology, or any comparable manual
process, to access, acquire, copy, or monitor any portion of this
website or Content; (c) use any device, software or routine to
interrupt or interfere with, or attempt to interrupt or interfere
with, the proper operation and working of this website or with any
other person’s use of this website; (d) track or seek to trace any
information on any other person who visits this website; (e) use this
website or Content for, or in connection with, any illegal purpose,
to solicit, facilitate, encourage, condone, or induce any illegal
activity, or as otherwise prohibited by these Terms or applicable
laws, rules or regulations; or (f) copy, modify, create a derivative
work of, reverse engineer, decompile, or otherwise attempt to extract
the source code of any proprietary software used to provide,
maintain, or otherwise applicable to this website or Content.</FONT></FONT></P>
<OL START=3>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>TERMS
	OF SALE </U></FONT></FONT>
	</h4>
</OL>
<OL>
	<OL START=5>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Sales
		of Products and Supplies to End Users Only</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
provides on-demand access to </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">a
selection of </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">physical
goods (“Product(s)”) from this website to end-user customers who
purchase subscriptions to on-demand access to the Products (“Supply”
or “Supplies”) only for their own personal, non-commercial use.
You may not purchase Products or Supplies for further distribution or
resale or for any other commercial or business purpose. The Supply
and all rights and privileges conferred are personal and
non-transferable. </FONT></FONT>
</P>
<OL>
	<OL START=6>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Pricing</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Pricing
for Products and Supplies (including any applicable shipping and
handling fees) can be found on Lifetime Supply’s then-current
pricing page located on this website at:
http://www.lifetimesupply.com/. The price that we will charge you for
the Products and Supplies will be the price as posted on this website
on the date you first sign-up for a Supplies on this website.
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
reserves the right to change prices for Products and Supplies at any
time, and does not provide price protection or refunds in the event
of promotions or price decreases. </FONT></FONT>
</P>
<OL>
	<OL START=7>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Shipping
		&amp; Product Acceptance</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Members
can request a shipment of a Product at any time while their
Subscription is active. Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
will contact its suppliers within one day of any order, when
possible, but no guarantees are made as to the total time a shipment
will take. The risk of loss and title for all Products purchased via
this website pass to the Customer upon delivery of the item to the
carrier.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Shipments
will only be made in and to the United States.</FONT></FONT></P>
<OL>
	<OL START=8>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Product
		Selection and </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Substitute
		</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">P</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">roducts
		</FONT></FONT>
		</h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply may vary the selection of products for a given Supply. It
should be expected that product section will change without notice.
Please visit a Supply's page for most recent selection.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; "><A NAME="__DdeLink__1090_701391980"></A>
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may offer a similar, substitute product for any Product whenever it
deems such product necessary. This may happen in situation where
supply of the originally-purchased Product changed. </FONT></FONT>
</P>
<OL>
	<OL START=9>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Fair
		Usage</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">All
products from Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠
</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">must
be purchased solely for your personal, non-commercial use. </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Maximum
usage limits will be detailed on Product pages. Up to date usage data
for your specific subscription are available on your account page.
These usage limits are intended to cover nearly all normal usage
cases for a single person, but no guarantee is made.</FONT></FONT></P>
<OL>
	<OL START=10>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Right
		to Terminate</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may at its option, terminate its relationship with you, or may
suspend your subscription immediately if it determines you are using
your subscription contrary to Lifetime Supply’s Terms of Use. Where
reasonable, Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
will provide you with notice of improper usage before suspension or
termination of your subscription and, if appropriate, Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may offer you an alternative subscription.</FONT></FONT></P>
<OL START=4>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>GIFT
	Supplies</U></FONT></FONT></h4>
</OL>
<OL>
	<OL START=11>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Summary</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Gift
Supplies and their use are subject to these Terms.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Gift
Supplies are pre-paid subscriptions to the Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
service. A person who receives and redeems a Gift Subscription to the
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
service is referred to in these terms as the &quot;Recipient.&quot;
Recipient must be 18 years of age or older to become a member of the
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
service.</FONT></FONT></P>
<OL>
	<OL START=12>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Payment;
		Automatic Subscription Renewals &amp; Subscription Cancellation
		Policy; Refunds</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">A
valid payment method is required to redeem the Gift Subscription.
Recipient's payment method may be authorized for a nominal amount
each year during the Gift Subscription to verify that a valid payment
method is on file. In some instances, Recipient's available balance
or credit limit may reflect this authorization; however, no charges
will be made against the payment method unless Recipient does not
cancel prior to the end of the Gift Subscription.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">At the
end of the Gift Subscription, Recipient authorizes Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
to automatically renew the subscription and bill Recipient's payment
method yearly for subscription fees unless Recipient cancels prior to
the end of the Gift Subscription. Recipient further authorizes
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
to charge Recipient's payment method each year for the Subscription
fees until Recipient cancels the Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Subscription. Although the Subscription is cancelable at anytime,
there is no refund or credit for partially used periods.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Recipient
can click on the &quot;Account&quot; link for cancellation
instructions. As a convenience, Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
will notify Recipient two (2) weeks prior to the initial charge to
Recipient's payment method and/or beginning automatic yearly
subscription billing. It is Recipient's responsibility to cancel the
Gift Subscription if Recipient does not wish to continue the Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Subscription past the end of the Gift Subscription.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
is not responsible if a Gift Subscription is lost, stolen or used
without permission.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Gift
Supplies are not redeemable or refundable for cash, subject to
applicable law, and cannot be resold or combined with any other
special or free offers, or exchanged for other Gift Supplies. There
are no refunds or other credit for Gift Supplies which are not
redeemed.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U><B>COPYRIGHT
INFRINGEMENT CLAIMS</B></U></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">User
shall direct any copyright infringement claims to Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">’s
designated agent, consistent with section 512 of the Digital
Millennium Copyright Act (17 U.S.C. Section 512). The designated
agent to receive notification of claimed infringement, as filed with
the Public Information Office of the Copyright Office, is available
in the following manner:</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">U.S.
Mail:</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Douglas
Burda</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">P.O.
Box 1532</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">La
Jolla, CA 92038</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Telephone:
248-217-0002</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">E-mail:
douglas@burda.co</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">All
copyright infringement claims must be in writing and shall include
the following information: (a) a physical or electronic signature of
a person authorized to act on behalf of the owner of an exclusive
right that is allegedly infringed, (b) Identification of the
copyright work claimed to have been infringed, or, if multiple
copyrighted works at a single website are covered by a single
notification, a representative list of such works at that website,
(c) identification of the material that is claimed to be infringing
or to be the subject of infringing activity and that is to be removed
or access to which is to be disabled, and information reasonably
sufficient to permit Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
to locate the material, (d) information reasonably sufficient to
permit Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
to contact the complaining party, including address, telephone
number, and e-mail address, (e) a statement that the complaining
party has a good-faith belief that use of the material in the manner
complained of is not authorized by the copyright owner, its agent, or
the law, (f) a statement that the information in the notification is
accurate, and under penalty of perjury, that the complaining party is
authorized to act on behalf of the owner of an exclusive right that
is allegedly infringed.</FONT></FONT></P>
<OL START=5>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>THIRD
	PARTY SITES; INDEMNIFICATION</U></FONT></FONT></h4>
</OL>
<OL>
	<OL START=13>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Third
		Party Websites</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
Site may provide links to third party Sites that are not owned or
controlled by Lifetime Supply, including, without limitation,
Facebook, Twitter and LinkedIn (“Third Party Sites”). We provide
such links solely as a convenience to you. Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
does not review, approve, endorse, or make any representations about
such Third Party Sites, the companies or persons who own and/or
operate them, or any information, software or other products and
services made available through such Third Party Sites, or any
results that may be obtained from using them. You should exercise
common sense and your own judgment, and if you decide to access any
Third Party Sites linked to this website, you do so entirely at your
own risk, and you are solely responsible for your activities
conducted in connection with such Third Party Sites. Your use of
Third Party Sites is subject to the terms of use and privacy policies
located on the linked to Third Party Sites which may be different
from these Terms or our Privacy Policy, including, without
limitation, such Third Party Sites’ password and account security
policies and user-generated content posting and acceptable use
policies.</FONT></FONT></P>
<OL>
	<OL START=14>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Indemnification</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">You
hereby agree to defend, indemnify and hold each of the Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Parties (as defined herein) harmless from and against, any and all
losses, liabilities, damages, and/or claims (including, without
limitation, attorneys’ fees and costs) arising from your breach of
these Terms, or otherwise arising from your use or misuse of this
website, Content or Products.</FONT></FONT></P>
<OL START=6>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">DISCLAIMER
	OF WARRANTIES</FONT></FONT></h4>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">THE
SITE, CONTENT, PRODUCTS AND Supplies ARE FURNISHED TO YOU “AS IS”
AND WITHOUT WARRANTIES, REPRESENTATIONS OR CONDITIONS, STATUTORY OR
OTHERWISE, OF ANY KIND. LIFETIME SUPPLY, ON BEHALF OF ITSELF AND ITS
AFFILIATES, LICENSORS, SUPPLIERS AND THIRD PARTY SERVICE PROVIDERS,
AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES,
CONTRACTORS, AGENTS, SUCCESSORS, AND ASSIGNS (COLLECTIVELY, THE
“LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTIES”): (A) EXPRESSLY DISCLAIMS ALL REPRESENTATIONS, WARRANTIES
AND CONDITIONS, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING,
WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF NON-INFRINGEMENT,
TITLE, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE; (B)
DOES NOT REPRESENT OR WARRANT THAT THE SITE, CONTENT, PRODUCTS OR
SUPPLIES WILL MEET YOUR REQUIREMENTS, OR THAT THE OPERATION OF THE
SITE OR CONTENT WILL BE TIMELY, UNINTERRUPTED, STABLE, OR SECURE; (C)
DOES NOT REPRESENT OR WARRANT THAT THE SITE, CONTENT, PRODUCTS OR
SUPPLIES WILL BE ERROR-FREE OR THAT ANY DEFECTS WILL BE CORRECTED;
AND (D) DOES NOT MAKE ANY REPRESENTATIONS, WARRANTIES, OR CONDITIONS
REGARDING THE USE OF THE USE OF THE SITE, CONTENT OR PRODUCTS IN
TERMS OF THEIR ACCURACY, RELIABILITY, TIMELINESS, COMPLETENESS, OR
OTHERWISE. YOUR USE OF THE SITE, CONTENT, PRODUCTS OR SUPPLIES IS
ENTIRELY AT YOUR OWN DISCRETION AND RISK AND YOU ASSUME TOTAL
RESPONSIBILITY FOR YOUR USE OF THE SITE, CONTENT, PRODUCTS AND
SUPPLIES.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">THIS
LIMITATION OF REMEDIES IS A PART OF THE BARGAIN BETWEEN YOU AND
LIFETIME SUPPLY. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY
LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
OR ANY PERSON ON BEHALF OF LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
SHALL CREATE A WARRANTY OR CONDITION, OR IN ANY WAY CHANGE THIS
EXCLUSION OF WARRANTY.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">NOTHING
IN THIS SECTION SHALL EXCLUDE OR LIMIT THE LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTIES’ WARRANTIES, REPRESENTATIONS OR CONDITIONS TO THE EXTENT
THEY MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW, IN
WHICH CASE, SUCH WARRANTIES, REPRESENTATIONS OR CONDITIONS WILL BE
EXCLUDED AND LIMITED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE
LAW.</FONT></FONT></P>
<OL START=7>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">LIMITATION
	OF LIABILITY</FONT></FONT></h4>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">IN NO
EVENT SHALL ANY LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY BE LIABLE TO YOU, OR ANY THIRD PARTY, FOR ANY SPECIAL,
INDIRECT, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL
DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, PROPERTY DAMAGE,
LOSS OF VALUE OF THE PRODUCTS OR LOSS OF USE OF THE PRODUCTS, WHETHER
BASED ON BREACH OF ANY EXPRESS OR IMPLIED WARRANTY OR CONDITION,
BREACH OF CONTRACT OR TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE
OR STRICT LIABILITY), EVEN IF A LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">IF,
NOTWITHSTANDING THE FOREGOING, A LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY IS FOUND TO BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGE
OR LOSS WHICH ARISES UNDER OR IN CONNECTION WITH YOUR USE OF THE
SITE, CONTENT, PRODUCTS OR SUPPLIES, THE RELEVANT LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY’S TOTAL CUMULATIVE LIABILITY SHALL IN NO EVENT EXCEED THE
GREATER OF: (A) THE AMOUNT YOU PAID LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
FOR THE PRODUCTS OR SUBSCRIPTION, AS APPLICABLE; AND (B) THE SUM OF
ONE HUNDRED US DOLLARS (US$100).</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">NOTHING
IN THIS SECTION SHALL EXCLUDE OR LIMIT ANY LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY’S LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR
LIMITED BY APPLICABLE LAW, IN WHICH CASE, SUCH LIFETIME SUPPLY</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
PARTY’S LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED
BY APPLICABLE LAW.</FONT></FONT></P>
<OL START=8>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>ARBITRATION
	AGREEMENT</U></FONT></FONT></h4>
</OL>
<OL>
	<OL START=15>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Dispute
		&amp; Arbitration; Class Action Waiver</FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Please
read this carefully. It affects your rights.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Most
customer concerns can be resolved quickly and to a customer’s
satisfaction by writing to our customer service department at
members@lifetimesupply.com. In the unlikely event that our customer
service department is unable to resolve a complaint you may have to
your satisfaction (or if we have not been able to resolve a dispute
we have with you after attempting to do so informally), we each agree
to resolve those disputes ARISING OUT OF THIS AGREEMENT (OTHER THAN
THOSE RELATED TO LIFETIME SUPPLY’S ENFORCEMENT AND PROTECTION OF
ITS NAME AND INTELLECTUAL PROPERTY RIGHTS) through binding
arbitration or small claims court instead of in courts of general
jurisdiction. This includes any claims against other parties relating
to services or products provided or billed to you (such as our
licensors, suppliers, dealers or third party vendors) whenever you
also assert claims against us in the same proceeding.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Arbitration
is more informal than a lawsuit in court. Arbitration uses a neutral
arbitrator instead of a judge or jury, allows for more limited
discovery than in court, and is subject to very limited review by
courts. The arbitrator must follow these Terms and can award the same
damages and relief that a court can award.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We
each also agree that these Terms affects interstate commerce so that
the Federal Arbitration Act and federal arbitration law apply
(despite the choice of law provision herein). ANY ARBITRATION UNDER
THIS AGREEMENT WILL TAKE PLACE ON AN INDIVIDUAL BASIS; CLASS
ARBITRATIONS AND CLASS ACTIONS ARE NOT PERMITTED. Neither you nor
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
has the right to act as a class representative or class
representative or participate as a member of a class of claimants
with respect to any claim.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">All
disputes relating in any way, directly or indirectly, to Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
for breach of contract, breach of fiduciary duty, negligence,
personal injury, intentional torts or other tort will be arbitrated
according to the rules of the American Arbitration Association (AAA)
in Los Angeles, California, including any dispute about the scope of
this arbitration agreement, and including all questions about the
types of disputes that are subject to this arbitration agreement, all
of which you agree will be decided by the arbitrators, whose decision
will be final and binding on you. Any issue concerning the extent to
which a dispute is subject to arbitration, or concerning the
applicability, interpretation or enforceability of these Terms,
including any contention that all or part of this agreement is
invalid or unenforceable, shall be governed by the Federal
Arbitration Act and resolved by the arbitrators. You acknowledge and
agree that, in any arbitration proceeding, no depositions will be
taken, and all other forms of discovery of facts will be limited to
those things that the arbitrators determine, in their sole
discretion, to be necessary. Further, in any arbitration proceeding,
(i) there shall be no award of punitive, exemplary, incidental or
consequential or other special damages, (ii) all damages claims and
awards will be governed by the provisions of the California Civil
Code, and (iii) the parties will conduct the arbitration
confidentially and expeditiously and will pay their own costs and
expenses of arbitration, including their own attorneys’ fees. If
you are unable to afford the AAA fee, you agree to notify all persons
against whom you have an arbitrable claim and give such persons the
opportunity individually and as a group to pay such fee. The
proceeding and the decision shall be kept confidential by the
parties.</FONT></FONT></P>
<OL START=9>
	<LI><h4 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
	<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>ELECTRONIC
	COMMUNICATIONS</U></FONT></FONT></h4>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Whenever
you visit our Site or send emails to us, you are communicating with
us electronically. For that reason, you also consent to receive
communications from us electronically. We will communicate with you
by email (if you have provided your email address to us), by posting
notices on our Site or by such other means as we may determine from
time-to-time. You agree that all agreements, notices, disclosures,
and other communications that we provide to you electronically
satisfy any legal requirement that such communications be in writing,
to the extent permitted by applicable law.</FONT></FONT></P>
<OL>
	<OL START=16>
		<LI><h5 CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in">
		<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U>GENERAL
		PROVISIONS.</U></FONT></FONT></h5>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may issue a warning, temporarily suspend, indefinitely suspend or
terminate any Customer’s right to use or access all or any part of
this website including any account thereon, without notice, for any
reason in Lifetime Supply’s sole discretion, including without
limitation breach of this agreement and/or violation of the Terms of
Service, Lifetime Supply’s belief that such access would violate
any applicable law, rule or regulation or would be harmful to the
interests of, or potentially cause financial loss or legal liability
to Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
or another user of this website. Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
will not be responsible for failures to fulfill any of its
obligations due to causes beyond its control. The parties shall at
all times and for all purposes be deemed to be independent
contractors and neither party nor its agents may bind the other
party. This Agreement is only valid in the English language. This
Agreement shall not be interpreted or construed to confer any rights
or remedies on any third parties, except that each indemnified
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Party shall be a third party beneficiary hereunder. Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
may assign or transfer its rights, or delegate any performance, under
these Terms to a third party in its sole discretion. Customer may not
assign or otherwise transfer its rights, or delegate its performance,
under these Terms to any third party without in each and every case,
Lifetime Supply’s express prior written consent. </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
provisions herein concerning intellectual property will be construed
as independent of any other provision herein and raising a defense to
your obligations in the Terms related to intellectual property shall
not impair your ongoing duty to perform in accordance with your own
obligations pursuant to the Terms.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">You
shall not use Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">’s
intellectual property except as designated in herein or on the
website. You agree that in utilizing this website, you shall in no
way represent that you have any right in or to this website or other
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
intellectual property.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
parties to these Terms shall execute with acknowledgment or
affidavit, if required, all additional documents which may be
necessary or expedient in the consummation of the Terms and the
achievement of the Terms’ purposes.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">If any
provision of the Terms should be held to be void or unenforceable in
whole or in part by a court of competent jurisdiction, then such
court shall correct the defect in a narrowly tailored manner to
approximate the manifest intent of the parties hereto.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">When
the context in which words are used in the Terms indicates that such
is the intent, words in the singular number shall include the plural
and in the masculine gender shall include the feminine and neutral,
and vice-versa.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Sections
relating in any way to your covenants, representations, and/or
warranties, including the obligation to pay costs, fees and/or
expenses, third-party links, disclaimers of all warranties and
representations, remedies, indemnifications, and general provisions
shall survive any termination of the Terms.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
results of force majeure shall in no case be considered a breach of
the Terms, including without limitation problems arising from
elements of nature, fires, acts of war, national security attacks,
coups d’état, or any resulting interruptions in this website
derived from technical problems determined by Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
as such.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
Terms and any and all amendments, schedules, exhibits, and/or
documents incorporated herein by reference represents the entire
understanding between the parties with respect the Terms’ subject
matter. The Terms may be changed, waived, discharged or terminated
only by an instrument in writing, signed by the party against which
enforcement of such change, waiver, discharge or termination is
sought. </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This
Terms shall be binding upon and inure to the benefit of the parties
hereto and their respective successors and assigns and may be
executed electronically and/or in one (1) or more counterparts and as
executed shall constitute one (1) agreement.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">All
communications to Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
shall be in writing and shall be deemed to have been duly given to
Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
if personally delivered or transmitted by postage-prepaid registered
or certified mail with return receipt requested, Express Mail, or
other overnight mail delivery service, as follows: Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
c/o Burda IP, P.O. Box 1532, La Jolla, CA 92038.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">All
communications to you shall be in writing and shall be deemed to have
been duly given to you if personally delivered or transmitted by
postage-prepaid registered or certified mail with return receipt
requested, Express Mail, or other overnight mail delivery service, or
facsimile or electronic mail at the address, facsimile number and/or
email address provided by you.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The
parties acknowledge that each of them has reviewed the Terms and has
had the opportunity to have the Terms reviewed by their respective
attorneys and that any rule or construction to the effect that
ambiguities are to be resolved against the drafting party shall not
apply in the interpretation of the Terms, including amendments,
schedules, exhibits, and/or documents incorporated herein by
reference.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
exists solely within the&nbsp;State&nbsp;of Massachusetts. Regardless
of where you reside or may be domiciled, or where&nbsp;your browser
is&nbsp;physically located, your utilization of this website shall be
interpreted as if to have occurred solely&nbsp;within the&nbsp;State&nbsp;of
Massachusetts, and this website shall be deemed to have been&nbsp;served
from and the good(s) and/or service(s) performed solely and
wholly&nbsp;within the&nbsp;State&nbsp;of Massachusetts, as if&nbsp;you
had physically traveled there to obtain&nbsp;the good(s) and/or
service(s). </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; "><A NAME="_GoBack"></A>
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">As
such, any claim relating to or in connection with the interpretation,
validity, construction, performance, breach or termination of the
Terms that cannot be resolved between the parties hereto is governed
by Massachusetts law, and shall be brought in a federal or state
court in Massachusetts within one year after the claim arises, but in
no case earlier than following the fulfillment of any obligation
regarding an agreement for arbitration regarding same. User consents
to the sole and exclusive jurisdiction of courts located in
Massachusetts as the most convenient and appropriate for the
resolution of claims relating to or in connection with the
interpretation, validity, construction, performance, breach or
termination of the Terms that cannot be resolved between the parties
hereto. This website is controlled, operated and administered
entirely within the United States. Use of this website from locations
outside the United States where such practices violate any Law is
prohibited. The United Nations Convention on Contracts for the
International Sale of Goods is expressly excluded from these Terms.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This
website and&nbsp;the selection and arrangement&nbsp;thereof,
Copyright © 2012,&nbsp;Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.
All Rights Reserved. This website may contain graphical and other
elements licensed from third parties.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">,
lifetimesupply.com</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">,
the Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
logo, and other Content on this website (including all information
and screens) are Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
intellectual property. Third person intellectual property are the
property&nbsp;of its respective owners and may be used by Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
under license, but the appearance of any such third party
intellectual property does not in any way establish any connection,
license, approval or other relationship of any kind between Lifetime
Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
and such third parties, including Content, site design, text,
graphics, logos, images and icons, as well as the arrangement
thereof, are the sole property of Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Any
utilization of Content including without limitation Lifetime Supply</FONT></FONT><FONT FACE="Monaco, serif"><FONT SIZE=2 STYLE="font-size: 11pt">℠</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
intellectual property and/or third Person intellectual property
appearing on this website, including the reproduction, modification,
distribution and/or republication of same without the prior express
written authorization of such intellectual property’s owner(s) is
prohibited and may be subject to criminal prosecution.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><U><B>ATTORNEY
REVIEW</B></U></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.14in; margin-bottom: 0.14in; ">
<FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">THIS
AGREEMENT SETS FORTH IMPORTANT RIGHTS AND LIABILITIES THAT IMPOSE
SUBSTANTIAL OBLIGATIONS, RESPONSIBILITIES AND COVENANTS UPON USER.
WHILE USER HEREBY COVENANTS, REPRESENTS AND WARRANTS THAT USER HAS
FULLY READ AND HAS FULLY UNDERSTOOD THE NATURE, SPIRIT AND SCOPE OF
THIS AGREEMENT, IT IS IMPORTANT TO SEEK THE ADVICE OF LEGAL COUNSEL
WHEN ENTERING INTO SUCH AN AGREEMENT AND USER HAS TAKEN THE
OPPORTUNITY TO EVALUATE THE NEED FOR LEGAL COUNSEL, AND HAVE EITHER
OBTAINED LEGAL COUNSEL'S ADVICE WITH RESPECT TO THIS AGREEMENT OR
HAVE DETERMINED, IN USER’S OWN BEST INTEREST, THAT IT IS
UNNECESSARY TO TAKE THE TIME TO OBTAIN SUCH LEGAL COUNSEL'S ADVICE.</FONT></FONT></P>

</div>
</div>
</div>
</div>
{% endblock %}