<li class="{{li_class}} shadow thumbnail-containter">
    <div class="caption">
        <a href="/product/{{p.id}}">
            <div class="image-contianer clearfix">
                <img src="{{STATIC_URL}}{{p.img}}" alt="">
            </div>
            <h3 class="product-title">{{p.name}}</h3>
        </a>
        <div class="price label">${{p.price|floatformat:"0"}}/year</div>
        <!-- <div class="">
            {% if p in user.subscription_set %}
                <span data-id={{p.id}} class="btn btn-info btn-ship-it">{{ORDER_TEXT}}</span>
            {% else %}
                <a href="/cart/add?id={{p.id}}" data-id={{p.id}} class="btn btn-buy add-to-cart">Subscribe</a>
            {% endif %}
        </div> -->
        <div class="description">
            {{p.description}} <a href="/product/{{p.id}}"> More info.</a>
        </div>
     </div>
</li>